.welcome-text {
    font-size: 3em;
    text-align: center;
}

.main-board {
  /*background-color: rgb(82, 80, 80);*/ 
  background-color: rgb(19, 18, 18);
  display: flex;
  overflow-y: scroll;
  justify-content: center;
  padding-top: 0.25em;
  height: 100%;
  width: 100%;
}

/* use margin to move background and mic button*/
.mic-background {
    width:60px;
    height:60px;
    background-color:red;
    border-radius:2em;
}
/* Mic button */
.gg-mic {
  box-sizing: border-box;
  position: absolute;
  display: block;
  transform: scale(var(--ggs,1));
  width: 20px;
  height: 16px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
  border: 2px solid;
  border-top: 0px;
  margin-top: 23px;
  margin-left: 20px;
}
  
.gg-mic::after,
.gg-mic::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
  
.gg-mic::after {
  border: 2px solid;
  width: 12px;
  height: 29px;
  left: 2px;
  top: -16px;
  border-radius: 5px;
}
/*Bottom of mic */
.gg-mic::before {
  width: 11px;
  height: 6px;
  top: 16px;
  left: 2px;
  border-right: 4px solid transparent;
  box-shadow:
  0 2px 0,
  inset -2px 0 0
} 
/* play button width: 22, height: 22 */
.gg-play-button {
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 40px;
  height: 32px;
  color: white;
  background-color: #f00f1e;
  border-radius: 0.6em;
}
  
.gg-play-button::before {
  cursor: pointer;
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 20px;
  border-top: 11px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 12px solid;
  top: 5px;
  left: 16px
}
/* desktop play button width: 22, height: 22 */
.desktop-gg-play-button {
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 80px;
  height: 64px;
  color: white;
  background-color: #f00f1e;
  border-radius: 1.2em;
}
  
.desktop-gg-play-button::before {
  cursor: pointer;
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 40px;
  border-top: 22px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 24px solid;
  top: 10px;
  left: 32px
}  