.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-self: center;
}
.welcome-text {
    color: white;
    text-align: center;
}
.no-padding-margin {
    padding: 0;
    margin: 0;
    width: 5em;
}
.underline-button {
    font-family: 'sans-serif';
    color: white;
    text-align: center;
    background: none;
    border: none;
    cursor:pointer;
    margin: 0px 0px 7px 0px;
    padding: 0;
    text-decoration: underline;
    font-size: medium;
}
.margin-top {
    margin-top: 0.5em;
}
.sub-titles {
    margin: 0;
    color: white;
    font-weight: bold;
}
.underline-button:hover {
    color: white;
    background-color: #07CDB6;
    border-radius: 2px;
}
.question-button {
    border: none;
    height: 2.5em;
    width: 8.5em;
    border-radius: 35%;
    font-weight: bold;
}
p {
    font-family: sans-serif;
}
input {
    font-family: sans-serif;
    padding: 0%;
    border: none;
    border-bottom: 1px solid;
    width: 7em;
    height: 2em;
    color: white;
    background: none;
}
input:focus {
    outline: none;
    border-bottom-color: #cd071e;
}
select {
    font-family: sans-serif;
    height: 2em;
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid;
}
select:focus {
    outline: none;
    border-bottom-color: #cd071e;
}