.basic-button {
  padding: 0em;
  width: 4.5em;
  height: 2.5em;
  background: #07CDB6;
  border: none;
  border-radius: 5%;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.white-text {
  color: white;
  font-family: sans-serif;
}
.exit-submit-color {
  color: white;
  background-color: #cd071e;
}
.non-ui-text {
  margin: 10px 0px 0px 0px;
  font-size: 1.5em;
}

.review-buttons {
  cursor: pointer;
  border: none;
  width: 5em;
  border-radius: 5%;
  height: 2em;
  background-color: #cd071e;
  color: white;
}